 body {
    font: Helvetica;
    background-image: url('https://assets.vogue.com/photos/61255d0aef3e7ea345a7b46c/1:1/w_1910,h_1910,c_limit/aaliyah:storyandpromo.jpeg');
 }
 
 .content {
    background-color: white;
    color:black;

 }